html 
    head 
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous")
        title Formulario en Pug 
body
table(class="table table-dark table-hover")
    thead 
    tr 
        th(scope="col") Item 
        th(scope="col") Producto   
        th(scope="col") Precio
        th(scope="col") Foto 
    each e in productos
        tbody
            tr 
                th(scope="row")= e.id 
                td= e.producto
                td= e.precio  
                td= e.foto
        
